In [3]:
import pandas as pd
import numpy as np
import CPTAC as ct

In [17]:
somatic = ct.get_somatic()
somatic.head()

idx,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GNT,AAAS,AACS,AADAC,AADACL2,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,hsa-mir-1199,hsa-mir-150
S001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S002,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
S003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
clinicaldf = ct.get_clinical()
clinicaldf.head()

,Proteomics_Aliquot_ID,Proteomics_Participant_ID,Proteomics_TMT_batch,Proteomics_TMT_plex,Proteomics_TMT_channel,Proteomics_Parent_Sample_IDs,Proteomics_Tumor_normal,Proteomics_OCT,WXS_patient_id,WXS_Tumor_sample_id,...,TP53_RPS6KA3,TP53_TP53,TP53_TP53_pathway,HRD_BRCA1_or_BRCA2,HRD_BRCA2,HRD_BRCA1,MSI,POLE_EDM_status,Histologic_Type_corrected,Tumor_purity
idx,,,,,,,,,,,,,,,,,,,,,
S001,CPT0001460012,C3L-00006,2,5,128N,C3L-00006-01,Tumor,No,C3L-00006,CPT0001460007,...,0.0,1.0,1.0,0.0,0.0,0.0,MSI-H,WT,Endometrioid carcinoma,normal
S002,CPT0001300009,C3L-00008,4,16,130N,C3L-00008-01,Tumor,No,C3L-00008,CPT0001300005,...,0.0,0.0,0.0,0.0,0.0,0.0,MSI-H,WT,Endometrioid carcinoma,normal
S003,CPT0001420009,C3L-00032,1,2,131,C3L-00032-01,Tumor,No,C3L-00032,CPT0001420005,...,0.0,0.0,0.0,0.0,0.0,0.0,MSS,WT,Endometrioid carcinoma,normal
S004,CPT0001140003,C3L-00090,3,12,129C,C3L-00090-01,Tumor,No,C3L-00090,CPT0001140005,...,0.0,0.0,0.0,0.0,0.0,0.0,MSS,WT,Endometrioid carcinoma,normal
S005,CPT0000980012,C3L-00098,4,14,129N,C3L-00098-02,Tumor,No,C3L-00098,CPT0000980005,...,0.0,1.0,1.0,0.0,0.0,0.0,MSS,WT,NaN,normal

In [28]:
proteomics = ct.get_proteomics()
proteomics.head()

idx,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSCAN31,ZSWIM8,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
S001,-1.01,-0.81,-0.28,0.24,0.29,0.68,1.27,-0.33,0.27,-0.79,...,-0.20,-0.01,0.00,1.14,NaN,0.05,-0.61,-1.10,-0.17,-0.16
S002,-0.51,-1.00,-0.99,1.50,0.18,0.37,1.26,0.15,1.34,-0.54,...,-0.70,-0.04,0.35,1.10,1.06,-0.48,-0.09,-1.19,-0.05,-0.53
S003,-0.56,-1.33,0.64,NaN,-0.26,1.05,-0.10,-0.14,0.46,-0.62,...,0.19,0.12,0.08,-0.09,NaN,0.20,-0.08,-0.66,0.33,-0.73
S004,-1.53,-1.19,-0.49,0.26,-0.03,0.77,1.10,-0.93,0.26,-0.23,...,-0.20,0.11,0.00,0.15,0.11,-0.38,-0.13,-0.86,-0.04,-0.35
S005,-0.16,0.09,0.01,0.34,0.51,-0.05,-1.18,NaN,0.66,-0.28,...,-0.61,-0.16,-1.53,-0.54,0.92,-0.60,0.31,-1.93,-0.20,0.00

In [9]:
transcriptdf = ct.get_transcriptomics()
transcriptdf.head()

idx,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
S001,4.02,2.16,3.27,13.39,5.88,6.79,1.55,0.97,10.34,1.96,...,11.06,10.73,8.40,9.78,10.88,5.93,11.52,10.23,11.50,11.47
S002,4.81,2.21,4.86,13.24,5.93,6.33,0.93,0.00,10.83,0.00,...,10.87,11.43,8.39,9.14,10.38,7.25,11.64,10.64,11.26,11.57
S003,6.24,6.43,3.68,14.32,6.53,9.42,2.79,0.00,10.98,2.13,...,10.06,10.13,8.35,9.27,10.46,6.85,11.60,10.21,11.51,11.09
S004,5.31,4.87,5.59,13.77,6.35,4.22,2.97,0.00,8.68,1.98,...,10.29,10.41,9.10,9.59,10.15,7.89,11.90,10.21,11.34,11.51
S005,9.84,8.83,7.00,13.12,6.49,6.83,1.80,0.00,11.42,3.28,...,10.36,11.24,8.60,9.44,11.80,9.32,11.97,9.77,11.37,12.35

In [11]:
cnadf = ct.get_CNA()
cnadf.head()

idx,OR4F5,KLHL17,PLEKHN1,HES4,ISG15,AGRN,RNF223,C1orf159,TTLL10,TNFRSF18,...,ENTPD8,NSMF,PNPLA7,MRPL41,DPH7,ZMYND19,ARRDC1,C9orf37,EHMT1,FAM157B
S001,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02
S002,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,...,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
S003,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01
S004,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,...,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,0.19
S005,-0.05,-0.05,-0.05,-0.05,-0.05,-0.05,-0.05,0.54,0.54,0.54,...,-0.42,-0.39,0.28,0.28,0.28,0.28,0.28,0.28,-0.37,0.13

In [13]:
phosphodf = ct.get_phosphoproteomics()
phosphodf.head()

idx,AAAS-S495,AAK1-S18,AAK1-S20,AAK1-S21,AAK1-S624,AAK1-S637,AAK1-S670,AAK1-S678,AAK1-S682,AAK1-S731,...,ZZEF1-S1464,ZZEF1-S1488,ZZEF1-S1501,ZZEF1-S1518,ZZEF1-S2444,ZZEF1-T1477,ZZEF1-T1512,ZZEF1-T1521,ZZZ3-S397,ZZZ3-S426
S001,NaN,-0.28,0.44,0.52,-0.70,-0.68,-0.49,-0.43,-0.93,NaN,...,-0.28,-0.20,-0.11,-0.11,-0.08,-0.27,NaN,0.24,0.42,-0.26
S002,NaN,-0.53,-1.14,0.10,-0.66,-0.42,-0.43,-0.29,-0.39,-0.25,...,0.44,0.37,0.60,0.33,NaN,1.13,1.00,0.34,-0.19,-0.55
S003,-0.29,0.42,-0.05,-0.06,-0.03,0.80,NaN,-1.41,0.16,-0.09,...,1.05,0.61,NaN,0.36,0.53,0.52,0.28,-0.27,NaN,NaN
S004,0.15,NaN,-0.54,-0.17,0.21,-0.17,0.58,0.50,NaN,-0.52,...,0.03,-0.18,NaN,0.68,0.28,NaN,0.85,-0.32,0.03,-0.75
S005,0.60,0.64,-0.05,-0.08,0.14,0.63,0.52,-0.76,-0.30,-0.01,...,-0.54,0.48,-0.70,0.26,-0.59,-0.66,-0.13,-0.21,-0.10,0.15

### Calculate the appropriate p-value (Bonferroni correction)

In [21]:
pcutoff = 0.05/(len(somatic.columns) - 1)
print(pcutoff)

3.340682835571591e-06

In [32]:
cross = ct.compare_gene(somatic, proteomics, 'A1BG')
cross.head()

      somatic  proteomics
S001        0       -1.01
S002        0       -0.51
S003        0       -0.56
S004        0       -1.53
S005        0       -0.16

In [36]:
gene_names = somatic.columns
for i in range(0, len(somatic.columns)):
    if proteomics.columns.contains(gene_names[i]):
        cross = ct.compare_gene(somatic, proteomics, gene_names[i])

KeyError: 'C11ORF54'