### GitHub page: https://github.com/PayneLab/CPTAC

In [1]:
import CPTAC as ct
import pandas as pd
from scipy.stats import pearsonr
ct.start()

Loading Clinical Data...
Loading Proteomics Data...
Loading Transcriptome Data...
Loading CNA Data...
Loading Phosphoproteomics Data...
Welcome to our CPTAC data. Enter CPTAC.help() to open our Github help page.

In [11]:
clinicaldf = ct.get_clinical()
protdf = ct.get_proteomics()
phosphodf = ct.get_phosphoproteomics()
cna = ct.get_CNA()

In [5]:
clinicaldf.head()

,Proteomics_Aliquot_ID,Proteomics_Participant_ID,Proteomics_TMT_batch,Proteomics_TMT_plex,Proteomics_TMT_channel,Proteomics_Parent_Sample_IDs,Proteomics_Tumor_normal,Proteomics_OCT,WXS_patient_id,WXS_Tumor_sample_id,...,TP53_RPS6KA3,TP53_TP53,TP53_TP53_pathway,HRD_BRCA1_or_BRCA2,HRD_BRCA2,HRD_BRCA1,MSI,POLE_EDM_status,Histologic_Type_corrected,Tumor_purity
idx,,,,,,,,,,,,,,,,,,,,,
S001,CPT0001460012,C3L-00006,2,5,128N,C3L-00006-01,Tumor,No,C3L-00006,CPT0001460007,...,0.0,1.0,1.0,0.0,0.0,0.0,MSI-H,WT,Endometrioid carcinoma,normal
S002,CPT0001300009,C3L-00008,4,16,130N,C3L-00008-01,Tumor,No,C3L-00008,CPT0001300005,...,0.0,0.0,0.0,0.0,0.0,0.0,MSI-H,WT,Endometrioid carcinoma,normal
S003,CPT0001420009,C3L-00032,1,2,131,C3L-00032-01,Tumor,No,C3L-00032,CPT0001420005,...,0.0,0.0,0.0,0.0,0.0,0.0,MSS,WT,Endometrioid carcinoma,normal
S004,CPT0001140003,C3L-00090,3,12,129C,C3L-00090-01,Tumor,No,C3L-00090,CPT0001140005,...,0.0,0.0,0.0,0.0,0.0,0.0,MSS,WT,Endometrioid carcinoma,normal
S005,CPT0000980012,C3L-00098,4,14,129N,C3L-00098-02,Tumor,No,C3L-00098,CPT0000980005,...,0.0,1.0,1.0,0.0,0.0,0.0,MSS,WT,NaN,normal

In [6]:
protdf.head()

idx,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSCAN31,ZSWIM8,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
S001,-1.01,-0.81,-0.28,0.24,0.29,0.68,1.27,-0.33,0.27,-0.79,...,-0.20,-0.01,0.00,1.14,NaN,0.05,-0.61,-1.10,-0.17,-0.16
S002,-0.51,-1.00,-0.99,1.50,0.18,0.37,1.26,0.15,1.34,-0.54,...,-0.70,-0.04,0.35,1.10,1.06,-0.48,-0.09,-1.19,-0.05,-0.53
S003,-0.56,-1.33,0.64,NaN,-0.26,1.05,-0.10,-0.14,0.46,-0.62,...,0.19,0.12,0.08,-0.09,NaN,0.20,-0.08,-0.66,0.33,-0.73
S004,-1.53,-1.19,-0.49,0.26,-0.03,0.77,1.10,-0.93,0.26,-0.23,...,-0.20,0.11,0.00,0.15,0.11,-0.38,-0.13,-0.86,-0.04,-0.35
S005,-0.16,0.09,0.01,0.34,0.51,-0.05,-1.18,NaN,0.66,-0.28,...,-0.61,-0.16,-1.53,-0.54,0.92,-0.60,0.31,-1.93,-0.20,0.00

In [8]:
phosphodf.head()

idx,AAAS-S495,AAK1-S18,AAK1-S20,AAK1-S21,AAK1-S624,AAK1-S637,AAK1-S670,AAK1-S678,AAK1-S682,AAK1-S731,...,ZZEF1-S1464,ZZEF1-S1488,ZZEF1-S1501,ZZEF1-S1518,ZZEF1-S2444,ZZEF1-T1477,ZZEF1-T1512,ZZEF1-T1521,ZZZ3-S397,ZZZ3-S426
S001,NaN,-0.28,0.44,0.52,-0.70,-0.68,-0.49,-0.43,-0.93,NaN,...,-0.28,-0.20,-0.11,-0.11,-0.08,-0.27,NaN,0.24,0.42,-0.26
S002,NaN,-0.53,-1.14,0.10,-0.66,-0.42,-0.43,-0.29,-0.39,-0.25,...,0.44,0.37,0.60,0.33,NaN,1.13,1.00,0.34,-0.19,-0.55
S003,-0.29,0.42,-0.05,-0.06,-0.03,0.80,NaN,-1.41,0.16,-0.09,...,1.05,0.61,NaN,0.36,0.53,0.52,0.28,-0.27,NaN,NaN
S004,0.15,NaN,-0.54,-0.17,0.21,-0.17,0.58,0.50,NaN,-0.52,...,0.03,-0.18,NaN,0.68,0.28,NaN,0.85,-0.32,0.03,-0.75
S005,0.60,0.64,-0.05,-0.08,0.14,0.63,0.52,-0.76,-0.30,-0.01,...,-0.54,0.48,-0.70,0.26,-0.59,-0.66,-0.13,-0.21,-0.10,0.15

In [12]:
cna.head()

idx,OR4F5,KLHL17,PLEKHN1,HES4,ISG15,AGRN,RNF223,C1orf159,TTLL10,TNFRSF18,...,ENTPD8,NSMF,PNPLA7,MRPL41,DPH7,ZMYND19,ARRDC1,C9orf37,EHMT1,FAM157B
S001,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02,-0.02
S002,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,...,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
S003,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01,-0.01
S004,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,-0.11,...,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,-0.12,0.19
S005,-0.05,-0.05,-0.05,-0.05,-0.05,-0.05,-0.05,0.54,0.54,0.54,...,-0.42,-0.39,0.28,0.28,0.28,0.28,0.28,0.28,-0.37,0.13

In [9]:
clinicaldf = pd.read_excel('UCEC_clinical_genotype_phenotype_V1.1.tsi.xlsx', sheet_name="CPTAC3_UCEC_clinical_genotypes_")
clinicaldf.drop(clinicaldf.index[0], inplace=True)
clinicaldf.head()

,idx,Histologic_Grade_(FIGO),Histologic_Type,Num_full_term_pregnancies,Tumor_Size_(cm),FIGO_stage,Myometrial_invasion_Specify,Diabetes,BMI,LVSI,...,PI3K-PTEN,PI3K-PIK3R2,TP53-ATM,TP53-TP53,TP53-TP53_pathway,HRD-BRCA1,HRD-BRCA1_or_BRCA2,HRD-BRCA2,MSI,POLE
1,C3L-00006,1,0,1,2.9,0,1,0,38.88,1,...,1,0,0,1,1,0,0,0,1,0
2,C3L-00008,1,0,1,3.5,0,1,0,39.76,0,...,1,0,0,0,0,0,0,0,1,0
3,C3L-00032,2,0,4,4.5,0,1,1,51.19,0,...,0,0,0,0,0,0,0,0,0,0
4,C3L-00090,2,0,4,3.5,0,1,1,32.69,0,...,1,0,0,0,0,0,0,0,0,0
5,C3L-00098,3,0,2,6,0,1,0,20.28,NaN,...,0,0,0,1,1,0,0,0,0,0

In [10]:
phosdf = pd.read_excel('UCEC_phosphoproteomics_site_level_V1.xlsx', sheet_name="data")
phosdf.head()

,idx,C3L-00136.T,C3L-00098.T,C3L-00090.T,C3L-00008.T,C3L-00032.T,C3L-00006.T,C3L-00006.N,C3L-00139.T,C3L-00143.T,...,C3N-01349.T,C3N-03320.N,C3N-03411.N,NM_Mix1.N,C3N-03691a.N,C3N-03691b.N,C3N-03692.N,C3L-03601a.N,C3L-03601b.N,NM_Mix2.N
0,AAAS-S495,NaN,1.511548,1.112944,NaN,0.817520,NaN,NaN,1.418852,0.869111,...,0.987610,0.860698,0.567761,0.589163,0.655917,0.576749,0.945281,NaN,NaN,1.037036
1,AAK1-S18,0.879774,1.556005,NaN,0.692318,1.334778,0.821719,1.107258,1.336072,0.726407,...,1.004323,0.820971,0.930256,0.855603,1.676428,1.227982,1.139254,1.418611,1.994327,0.665400
2,AAK1-S20,0.696099,0.964754,0.687200,0.453538,0.966963,1.352040,0.905931,1.302045,0.880087,...,1.000152,1.166823,0.965710,0.966570,1.344240,1.650865,0.975370,0.928651,1.861469,0.550828
3,AAK1-S21,0.914304,0.949023,0.887574,1.068494,0.956485,1.434344,1.136394,1.239891,0.573554,...,0.598483,0.654774,NaN,0.553720,NaN,1.086362,0.659436,1.007299,1.331197,0.590478
4,AAK1-S624,2.024795,1.103993,1.153816,0.631918,0.977280,0.615934,0.759955,0.856731,1.114945,...,0.969571,1.067636,1.047008,0.831194,0.904264,1.051562,0.950879,0.718730,1.412013,0.764690

In [14]:
clinical = ct.get_clinical()

In [15]:
phos = ct.get_phosphoproteomics()

In [16]:
ct.compare_clinical(clinical, phos, "FIGO_stage")

Empty DataFrame
Columns: [FIGO_stage, AAAS-S495, AAK1-S18, AAK1-S20, AAK1-S21, AAK1-S624, AAK1-S637, AAK1-S670, AAK1-S678, AAK1-S682, AAK1-S731, AAK1-S846, AAK1-T389, AAK1-T606, AAK1-T620, AAK1-T653, AAK1-T674, AAMDC-S46, AATF-S316, AATF-S320, AATF-S321, ABCA1-S1296, ABCA2-S1358, ABCA2-S1362, ABCC1-S915, ABCC1-S918, ABCC1-S919, ABCC1-S921, ABCC1-S930, ABCC1-Y920, ABCC3-S908, ABCC3-S911, ABCC3-S912, ABCC4-S665, ABCC4-S668, ABCC4-T646, ABCF1-S105, ABCF1-S109, ABCF1-S140, ABCF1-S22, ABCF1-S228, ABCF1-T108, ABCF3-S115, ABI1-S183, ABI1-S216, ABI1-S222, ABI1-S225, ABI1-S231, ABI1-S323, ABI1-T200, ABI1-T229, ABI2-S183, ABI2-S227, ABI2-S233, ABI2-S368, ABI3-S216, ABI3-S342, ABI3BP-S1419, ABL1-S824, ABL1-S828, ABL1-S936, ABL1-T833, ABL1-T871, ABL2-S602, ABL2-S620, ABL2-S631, ABL2-S817, ABL2-S819, ABL2-S820, ABLIM1-S216, ABLIM1-S352, ABLIM1-S367, ABLIM1-S422, ABLIM1-S426, ABLIM1-S431, ABLIM1-S435, ABLIM1-S452, ABLIM1-S455, ABLIM1-S458, ABLIM1-S586, ABLIM1-S587, ABLIM1-S655, ABLIM1-S669, ABLIM1-S677, ABLIM1-S706, ABLIM1-T433, ABLIM1-T467, ABLIM1-T670, ABLIM2-S279, ABLIM2-S364, ABLIM3-S277, ABLIM3-S372, ABLIM3-S373, ABLIM3-S388, ABLIM3-S503, ABLIM3-S504, ABR-S312, ABR-T333, ABRAXAS1-S386, ABRAXAS1-S387, ...]
Index: []

[0 rows x 20535 columns]

In [17]:
phos.head()

,AAAS-S495,AAK1-S18,AAK1-S20,AAK1-S21,AAK1-S624,AAK1-S637,AAK1-S670,AAK1-S678,AAK1-S682,AAK1-S731,...,ZZEF1-S1464,ZZEF1-S1488,ZZEF1-S1501,ZZEF1-S1518,ZZEF1-S2444,ZZEF1-T1477,ZZEF1-T1512,ZZEF1-T1521,ZZZ3-S397,ZZZ3-S426
C3L-00006.N,NaN,1.107258,0.905931,1.136394,0.759955,1.223540,0.439189,0.621626,1.213689,NaN,...,1.187477,1.430423,1.033352,1.248806,0.834838,1.166656,NaN,0.739934,1.297350,0.826354
C3L-00006.T,NaN,0.821719,1.352040,1.434344,0.615934,0.624679,0.713503,0.740894,0.523559,NaN,...,0.823663,0.870330,0.926385,0.925015,0.948549,0.831736,NaN,1.179167,1.335929,0.833387
C3L-00008.T,NaN,0.692318,0.453538,1.068494,0.631918,0.748012,0.744204,0.818215,0.761952,0.840007,...,1.352634,1.293728,1.511294,1.257311,NaN,2.186203,2.001795,1.267394,0.877979,0.684302
C3L-00032.T,0.817520,1.334778,0.966963,0.956485,0.977280,1.735281,NaN,0.376517,1.114972,0.939985,...,2.073413,1.530384,NaN,1.283926,1.444606,1.429887,1.218320,0.827654,NaN,NaN
C3L-00090.T,1.112944,NaN,0.687200,0.887574,1.153816,0.886840,1.499980,1.417764,NaN,0.695361,...,1.023534,0.884547,NaN,1.599422,1.214027,NaN,1.803773,0.803419,1.020334,0.595455

In [18]:
clinical.head()

,Histologic_Grade_(FIGO),Histologic_Type,Num_full_term_pregnancies,Tumor_Size_(cm),FIGO_stage,Myometrial_invasion_Specify,Diabetes,BMI,LVSI,LVSI-early-stage,...,PI3K-PTEN,PI3K-PIK3R2,TP53-ATM,TP53-TP53,TP53-TP53_pathway,HRD-BRCA1,HRD-BRCA1_or_BRCA2,HRD-BRCA2,MSI,POLE
idx,,,,,,,,,,,,,,,,,,,,,
C3L-00006,1.0,0.0,1.0,2.9,0,1,0.0,38.88,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
C3L-00008,1.0,0.0,1.0,3.5,0,1,0.0,39.76,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
C3L-00032,2.0,0.0,4.0,4.5,0,1,1.0,51.19,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C3L-00090,2.0,0.0,4.0,3.5,0,1,1.0,32.69,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C3L-00098,3.0,0.0,2.0,6.0,0,1,0.0,20.28,NaN,NaN,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0